body, html {
    padding: 4px;
}
button {
    padding: 3px;
}
#root {
    height: 100%;
    width: 100%;
}
div, h2, span, p {
    margin: 0;
    padding: 0;
}
input {
    padding: 4px;
}
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}
.modal-dialog {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content {
    background: #fefefe;
    border: 6px solid rgba(0,0,0,.3);
    border-radius: 5px;
    width: 400px;
    position: relative;
    overflow: auto;
}

.modal-header {
    background: #f6f6f6;
    color: #212a31;
    height: 46px;
    line-height: 46px;
    padding: 0 20px 0 20px;
    border-bottom: 1px solid #eee;
}
.modal-header h2 {
    font-size: 14px;
    font-weight: bold;
    display: inline;
}
.modal-header .close {
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.modal-header .close:hover,
.modal-header .close:focus {
    color: #666;
    cursor: pointer;
}

.modal-body {
    padding: 20px;
    line-height: 24px;
    word-break: break-all;
    font-size: 14px;
    overflow: auto;
}

.modal-footer {
    padding: 15px 12px;
    background: #f0f4f7;
    border-top: 1px #c7c7c7 solid;
    text-align: right;
}
.modal-footer button {
    font-size: 12px;
    padding: 6px 20px;
    color: #fff;
    border: 1px solid #0064b6;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    margin-right: 7px;
    cursor: pointer;
}
.modal-footer button.ok {
    background: #0071ce;
}
.modal-footer button.ok[disabled] {
    cursor: not-allowed;
    opacity: 0.50;
}
.modal-footer button.cancel {
    background: #fff;
    color: #404a58;
    border: 1px solid #c0c4cd;
    border-radius: 3px;
}